In [20]:
import csv
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift, estimate_bandwidth

In [12]:
with open('checkins.dat') as dat_file, open('checkins.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)
    
    for line in dat_file:
        row = [field.strip() for field in line.split('|')]
        if len(row) == 6 and row[3] and row[4]:
            csv_writer.writerow(row)

In [135]:
data = pd.read_csv('checkins.csv')

In [143]:
newdata = data.sample(100000).iloc[0:100000, 3:5]

In [144]:
newdata

         latitude   longitude
23837   -6.211544  106.845172
281780  39.412607  -76.463574
124042  37.692236  -97.337545
313244  40.740389  -73.983385
253959  33.800745  -84.410520
...           ...         ...
392655  38.895112  -77.036366
46541   43.652500  -79.381667
103309  33.917236 -118.012009
259603  40.269170  -73.992220
33841   41.878114  -87.629798

[100000 rows x 2 columns]

In [145]:
%%time
ms = MeanShift(bandwidth=0.1) #, bin_seeding=True
ms.fit(newdata)

CPU times: user 4min 41s, sys: 15.2 s, total: 4min 57s
Wall time: 5min 1s

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [146]:
ms.labels_

array([ 24, 485, 306, ...,  81, 135,   2])

In [147]:
offices = np.array([[33.751277, -118.188740],
                    [25.867736, -80.324116],
                    [51.503016, -0.075479],
                    [52.378894, 4.885084],
                    [39.366487, 117.036146],
                    [-33.868457, 151.205134]])

In [148]:
ms.predict(offices)

array([ 46, 227,  53, 310, 382, 281])

In [157]:
needed_points = []
for i in range(len(ms.labels_)):
    if ms.labels_[i] in ms.predict(offices):
        needed_points.append(newdata.iloc[i].values)

In [165]:
min_dist = 100000
for office in offices:
    for point in needed_points:    
        difference = point - office
        dist = np.sqrt(sum((difference)**2))
        if min_dist > dist:
            min_dist = dist
            res = [point, office]

In [166]:
res

[array([-33.873651 , 151.2068896]), array([-33.868457, 151.205134])]