<center>
<img src="https://habrastorage.org/web/677/8e1/337/6778e1337c3d4b159d7e99df94227cb2.jpg"/>
## Специализация "Машинное обучение и анализ данных"
<center>Автор материала: программист-исследователь Mail.Ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ [Юрий Кашницкий](https://yorko.github.io/)

# <center> Capstone проект №1 <br> Идентификация пользователей по посещенным веб-страницам
<img src='http://i.istockimg.com/file_thumbview_approve/21546327/5/stock-illustration-21546327-identification-de-l-utilisateur.jpg'>

# <center>Неделя 5.  Соревнование Kaggle "Catch Me If You Can"

На этой неделе мы вспомним про концепцию стохастического градиентного спуска и опробуем классификатор Scikit-learn SGDClassifier, который работает намного быстрее на больших выборках, чем алгоритмы, которые мы тестировали на 4 неделе. Также мы познакомимся с данными [соревнования](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) Kaggle по идентификации пользователей и сделаем в нем первые посылки. По итогам этой недели дополнительные баллы получат те, кто попадет в топ-30 публичного лидерборда соревнования.

**В этой части проекта Вам могут быть полезны видеозаписи следующих лекций курса "Обучение на размеченных данных":**
   - [Стохатический градиентный спуск](https://www.coursera.org/learn/supervised-learning/lecture/xRY50/stokhastichieskii-ghradiientnyi-spusk)
   - [Линейные модели. Sklearn.linear_model. Классификация](https://www.coursera.org/learn/supervised-learning/lecture/EBg9t/linieinyie-modieli-sklearn-linear-model-klassifikatsiia)
   
**Также рекомендуется вернуться и просмотреть [задание](https://www.coursera.org/learn/supervised-learning/programming/t2Idc/linieinaia-rieghriessiia-i-stokhastichieskii-ghradiientnyi-spusk) "Линейная регрессия и стохастический градиентный спуск" 1 недели 2 курса специализации.**

### Задание
1. Заполните код в этой тетрадке 
2. Если вы проходите специализацию Яндеса и МФТИ, пошлите тетрадку в соответствующем Peer Review. <br> Если вы проходите курс ODS, выберите ответы в [веб-форме](https://docs.google.com/forms/d/1pLsegkAICL9PzOLyAeH9DmDOBfktte0l8JW75uWcTng).

In [1]:
from __future__ import division, print_function
# отключим всякие предупреждения Anaconda
import warnings
warnings.filterwarnings('ignore')
import os
import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import roc_auc_score

**Считаем данные [соревнования](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) в DataFrame train_df и test_df (обучающая и тестовая выборки).**

In [2]:
# Поменяйте на свой путь к данным
PATH_TO_DATA = "C:/"

In [3]:
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'),
                       index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'),
                      index_col='session_id')

In [4]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [47]:
(train_df.time1.values[0])

'2014-02-20 10:02:45'

**Объединим обучающую и тестовую выборки – это понадобится, чтоб вместе потом привести их к разреженному формату.**

In [5]:
train_test_df = pd.concat([train_df, test_df])

In [6]:
train_test_df

,site1,site10,site2,site3,site4,site5,site6,site7,site8,site9,...,time1,time10,time2,time3,time4,time5,time6,time7,time8,time9
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,890,1518.0,941.0,3847.0,941.0,942.0,3846.0,3847.0,3846.0,1516.0,...,2014-02-22 11:19:50,2014-02-22 11:20:16,2014-02-22 11:19:50,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:52,2014-02-22 11:19:52,2014-02-22 11:20:15
3,14769,14768.0,39.0,14768.0,14769.0,37.0,39.0,14768.0,14768.0,14768.0,...,2013-12-16 16:40:17,2013-12-16 16:40:24,2013-12-16 16:40:18,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:20,2013-12-16 16:40:21,2013-12-16 16:40:22
4,782,782.0,782.0,782.0,782.0,782.0,782.0,782.0,782.0,782.0,...,2014-03-28 10:52:12,2014-03-28 10:56:42,2014-03-28 10:52:42,2014-03-28 10:53:12,2014-03-28 10:53:42,2014-03-28 10:54:12,2014-03-28 10:54:42,2014-03-28 10:55:12,2014-03-28 10:55:42,2014-03-28 10:56:12
5,22,178.0,177.0,175.0,178.0,177.0,178.0,175.0,177.0,177.0,...,2014-02-28 10:53:05,2014-02-28 10:57:11,2014-02-28 10:55:22,2014-02-28 10:55:22,2014-02-28 10:55:23,2014-02-28 10:55:23,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:57:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82793,812,NaN,1039.0,676.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2014-10-02 18:20:09,NaN,2014-10-02 18:20:09,2014-10-02 18:20:09,NaN,NaN,NaN,NaN,NaN,NaN
82794,300,1216.0,302.0,302.0,300.0,300.0,1222.0,302.0,1218.0,1221.0,...,2014-05-26 14:16:40,2014-05-26 14:17:19,2014-05-26 14:16:41,2014-05-26 14:16:44,2014-05-26 14:16:44,2014-05-26 14:17:19,2014-05-26 14:17:19,2014-05-26 14:17:19,2014-05-26 14:17:19,2014-05-26 14:17:19
82795,29,6780.0,33.0,35.0,22.0,37.0,6779.0,30.0,21.0,23.0,...,2014-05-02 11:21:56,2014-05-02 11:22:04,2014-05-02 11:21:56,2014-05-02 11:21:56,2014-05-02 11:22:03,2014-05-02 11:22:03,2014-05-02 11:22:03,2014-05-02 11:22:03,2014-05-02 11:22:04,2014-05-02 11:22:04
82796,5828,961.0,23.0,21.0,804.0,21.0,3350.0,23.0,894.0,21.0,...,2014-05-03 10:05:25,2014-05-03 10:05:38,2014-05-03 10:05:27,2014-05-03 10:05:27,2014-05-03 10:05:27,2014-05-03 10:05:36,2014-05-03 10:05:37,2014-05-03 10:05:37,2014-05-03 10:05:38,2014-05-03 10:05:38
82797,21,1098.0,1098.0,1098.0,1098.0,1098.0,1098.0,1098.0,1098.0,1098.0,...,2014-11-02 10:46:57,2014-11-02 10:47:47,2014-11-02 10:46:57,2014-11-02 10:46:58,2014-11-02 10:47:12,2014-11-02 10:47:13,2014-11-02 10:47:14,2014-11-02 10:47:15,2014-11-02 10:47:18,2014-11-02 10:47:42

В обучающей выборке видим следующие признаки:
    - site1 – индекс первого посещенного сайта в сессии
    - time1 – время посещения первого сайта в сессии
    - ...
    - site10 – индекс 10-го посещенного сайта в сессии
    - time10 – время посещения 10-го сайта в сессии
    - user_id – ID пользователя
    
Сессии пользователей выделены таким образом, что они не могут быть длинее получаса или 10 сайтов. То есть сессия считается оконченной либо когда пользователь посетил 10 сайтов подряд, либо когда сессия заняла по времени более 30 минут.

**Посмотрим на статистику признаков.**

Пропуски возникают там, где сессии короткие (менее 10 сайтов). Скажем, если человек 1 января 2015 года посетил *vk.com* в 20:01, потом *yandex.ru* в 20:29, затем *google.com* в 20:33, то первая его сессия будет состоять только из двух сайтов (site1 – ID сайта *vk.com*, time1 – 2015-01-01 20:01:00, site2 – ID сайта  *yandex.ru*, time2 – 2015-01-01 20:29:00, остальные признаки – NaN), а начиная с *google.com* пойдет новая сессия, потому что уже прошло более 30 минут с момента посещения *vk.com*.

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 1 to 253561
Data columns (total 21 columns):
site1     253561 non-null int64
time1     253561 non-null object
site2     250098 non-null float64
time2     250098 non-null object
site3     246919 non-null float64
time3     246919 non-null object
site4     244321 non-null float64
time4     244321 non-null object
site5     241829 non-null float64
time5     241829 non-null object
site6     239495 non-null float64
time6     239495 non-null object
site7     237297 non-null float64
time7     237297 non-null object
site8     235224 non-null float64
time8     235224 non-null object
site9     233084 non-null float64
time9     233084 non-null object
site10    231052 non-null float64
time10    231052 non-null object
target    253561 non-null int64
dtypes: float64(9), int64(2), object(10)
memory usage: 42.6+ MB

In [8]:
test_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,29,2014-10-04 11:19:53,35.0,2014-10-04 11:19:53,22.0,2014-10-04 11:19:54,321.0,2014-10-04 11:19:54,23.0,2014-10-04 11:19:54,2211.0,2014-10-04 11:19:54,6730.0,2014-10-04 11:19:54,21.0,2014-10-04 11:19:54,44582.0,2014-10-04 11:20:00,15336.0,2014-10-04 11:20:00
2,782,2014-07-03 11:00:28,782.0,2014-07-03 11:00:53,782.0,2014-07-03 11:00:58,782.0,2014-07-03 11:01:06,782.0,2014-07-03 11:01:09,782.0,2014-07-03 11:01:10,782.0,2014-07-03 11:01:23,782.0,2014-07-03 11:01:29,782.0,2014-07-03 11:01:30,782.0,2014-07-03 11:01:53
3,55,2014-12-05 15:55:12,55.0,2014-12-05 15:55:13,55.0,2014-12-05 15:55:14,55.0,2014-12-05 15:56:15,55.0,2014-12-05 15:56:16,55.0,2014-12-05 15:56:17,55.0,2014-12-05 15:56:18,55.0,2014-12-05 15:56:19,1445.0,2014-12-05 15:56:33,1445.0,2014-12-05 15:56:36
4,1023,2014-11-04 10:03:19,1022.0,2014-11-04 10:03:19,50.0,2014-11-04 10:03:20,222.0,2014-11-04 10:03:21,202.0,2014-11-04 10:03:21,3374.0,2014-11-04 10:03:22,50.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:23,3374.0,2014-11-04 10:03:23
5,301,2014-05-16 15:05:31,301.0,2014-05-16 15:05:32,301.0,2014-05-16 15:05:33,66.0,2014-05-16 15:05:39,67.0,2014-05-16 15:05:40,69.0,2014-05-16 15:05:40,70.0,2014-05-16 15:05:40,68.0,2014-05-16 15:05:40,71.0,2014-05-16 15:05:40,167.0,2014-05-16 15:05:44

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82797 entries, 1 to 82797
Data columns (total 20 columns):
site1     82797 non-null int64
time1     82797 non-null object
site2     81308 non-null float64
time2     81308 non-null object
site3     80075 non-null float64
time3     80075 non-null object
site4     79182 non-null float64
time4     79182 non-null object
site5     78341 non-null float64
time5     78341 non-null object
site6     77566 non-null float64
time6     77566 non-null object
site7     76840 non-null float64
time7     76840 non-null object
site8     76151 non-null float64
time8     76151 non-null object
site9     75484 non-null float64
time9     75484 non-null object
site10    74806 non-null float64
time10    74806 non-null object
dtypes: float64(9), int64(1), object(10)
memory usage: 13.3+ MB

**В обучающей выборке – 2297 сессий одного пользователя (Alice) и 251264 сессий – других пользователей, не Элис. Дисбаланс классов очень сильный, и смотреть на долю верных ответов (accuracy) непоказательно.**

In [10]:
train_df['target'].value_counts()

0    251264
1      2297
Name: target, dtype: int64

**Пока для прогноза будем использовать только индексы посещенных сайтов. Индексы нумеровались с 1, так что заменим пропуски на нули.**

In [287]:
train_test_df_sites = train_test_df[['site%d' % i for i in range(1, 11)]].fillna(0).astype('int')

In [12]:
train_test_df_sites.head(10)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
1,718,0,0,0,0,0,0,0,0,0
2,890,941,3847,941,942,3846,3847,3846,1516,1518
3,14769,39,14768,14769,37,39,14768,14768,14768,14768
4,782,782,782,782,782,782,782,782,782,782
5,22,177,175,178,177,178,175,177,177,178
6,570,21,570,21,21,0,0,0,0,0
7,803,23,5956,17513,37,21,803,17514,17514,17514
8,22,21,29,5041,14422,23,21,5041,14421,14421
9,668,940,942,941,941,942,940,23,21,22
10,3700,229,570,21,229,21,21,21,2336,2044

In [20]:
print(len(train_test_df_sites.values))
print(train_test_df.shape)
print(train_df.shape)
print(test_df.shape)
print(train_df.shape[0]+test_df.shape[0])

336358
(336358, 21)
(253561, 21)
(82797, 20)
336358

**Создайте разреженные матрицы *X_train_sparse* и *X_test_sparse* аналогично тому, как мы это делали ранее. Используйте объединенную матрицу *train_test_df_sites*, потом разделите обратно на обучающую и тестовую части.**

Обратите внимание на то, что в  сессиях меньше 10 сайтов  у нас остались нули, так что первый признак (сколько раз попался 0) по смыслу отличен от остальных (сколько раз попался сайт с индексом $i$). Поэтому первый столбец разреженной матрицы надо будет удалить.

**Выделите в отдельный вектор *y* ответы на обучающей выборке.**

In [15]:
def mechok(docs):
    indptr = [0]
    indices = []
    data = []
    vocabulary = {}
    for d in docs:
        for term in d:
            if int(term)==0:
                continue
            index = vocabulary.setdefault(term, len(vocabulary))
            indices.append(index)
            data.append(1)     
        indptr.append(len(indices))
    return (csr_matrix((data, indices, indptr), dtype=int))

In [16]:
train_test_sparse = mechok(train_test_df_sites.values)

In [25]:
train_test_sparse.shape

(336358, 48371)

In [24]:
train_test_sparse = mechok(train_test_df_sites.values)   ####''' ВАШ КОД ЗДЕСЬ '''
X_train_sparse = train_test_sparse[:train_df.shape[0],:]      ####''' ВАШ КОД ЗДЕСЬ '''
X_test_sparse =  train_test_sparse[train_df.shape[0]: ,:]      ####''' ВАШ КОД ЗДЕСЬ '''
y = train_df.target.values                 ####''' ВАШ КОД ЗДЕСЬ '''

**<font color='red'>Вопрос 1. </font> Выведите размерности матриц *X_train_sparse* и *X_test_sparse* – 4 числа на одной строке через пробел: число строк и столбцов матрицы *X_train_sparse*, затем число строк и столбцов матрицы *X_test_sparse*.**

In [26]:
###''' ВАШ КОД ЗДЕСЬ '''

print(X_train_sparse.shape[0], X_train_sparse.shape[1], X_test_sparse.shape[0], X_test_sparse.shape[1])

253561 48371 82797 48371

**Сохраним в pickle-файлы объекты *X_train_sparse*, *X_test_sparse* и *y* (последний – в файл *kaggle_data/train_target.pkl*).**

In [27]:
with open(os.path.join(PATH_TO_DATA, 'X_train_sparse.pkl'), 'wb') as X_train_sparse_pkl:
    pickle.dump(X_train_sparse, X_train_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'X_test_sparse.pkl'), 'wb') as X_test_sparse_pkl:
    pickle.dump(X_test_sparse, X_test_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'train_target.pkl'), 'wb') as train_target_pkl:
    pickle.dump(y, train_target_pkl, protocol=2)

**Разобьем обучающую выборку на 2 части в пропорции 7/3, причем не перемешивая. Исходные данные упорядочены по времени, тестовая выборка по времени четко отделена от обучающей, это же соблюдем и здесь.**

In [29]:
int(.7 * X_train_sparse.shape[0])

177492

In [157]:
train_share = int(.7 * X_train_sparse.shape[0])
X_train, y_train = X_train_sparse[:train_share, :], y[:train_share]
X_valid, y_valid  = X_train_sparse[train_share:, :], y[train_share:]

**Создайте объект `sklearn.linear_model.SGDClassifier` с логистической функцией потерь и параметром *random_state*=17. Остальные параметры оставьте по умолчанию, разве что *n_jobs*=-1 никогда не помешает. Обучите  модель на выборке `(X_train, y_train)`.**

In [158]:
sgd_logit = SGDClassifier(loss='log', n_jobs=-1, random_state=17)                       ###''' ВАШ КОД ЗДЕСЬ '''
sgd_logit.fit(X_train, y_train)                   ###''' ВАШ КОД ЗДЕСЬ '''

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
              n_iter_no_change=5, n_jobs=-1, penalty='l2', power_t=0.5,
              random_state=17, shuffle=True, tol=0.001, validation_fraction=0.1,
              verbose=0, warm_start=False)

**Сделайте прогноз в виде предсказанных вероятностей того, что это сессия Элис, на отложенной выборке *(X_valid, y_valid)*.**

In [33]:
logit_valid_pred_proba = sgd_logit.predict_proba(X_valid) ###''' ВАШ КОД ЗДЕСЬ '''

In [35]:
logit_valid_pred_proba, y_valid

(array([[9.11911413e-01, 8.80885865e-02],
        [9.99703507e-01, 2.96493343e-04],
        [9.99872654e-01, 1.27345522e-04],
        ...,
        [9.87751880e-01, 1.22481202e-02],
        [9.99943934e-01, 5.60663172e-05],
        [9.88685254e-01, 1.13147460e-02]]),
 array([0, 0, 0, ..., 0, 0, 0], dtype=int64))

**<font color='red'>Вопрос 2. </font> Посчитайте ROC AUC логистической регрессии, обученной с помощью стохастического градиентного спуска, на отложенной выборке. Округлите до 3 знаков после разделителя.**

In [37]:
###''' ВАШ КОД ЗДЕСЬ '''
round(roc_auc_score(y_valid, logit_valid_pred_proba[:, 1]), 3)

0.934

**Сделайте прогноз в виде предсказанных вероятностей отнесения к классу 1 для тестовой выборки с помощью той же *sgd_logit*, обученной уже на всей обучающей выборке (а не на 70%).**

In [39]:
%%time
sgd_logit.fit(X_train_sparse, y)                                                   #### ''' ВАШ КОД ЗДЕСЬ '''
logit_test_pred_proba = sgd_logit.predict_proba(X_test_sparse)                 ####''' ВАШ КОД ЗДЕСЬ '''

Wall time: 2.34 s

**Запишите ответы в файл и сделайте посылку на Kaggle. Дайте своей команде (из одного человека) на Kaggle говорящее название – по шаблону "[YDF & MIPT] Coursera_Username", чтоб можно было легко идентифицировать Вашу посылку на [лидерборде](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2/leaderboard/public).**

**Результат, который мы только что получили, соответствует бейзлайну "SGDCLassifer" на лидерборде, задача на эту неделю – как минимум его побить.**

In [40]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [43]:
write_to_submission_file(logit_test_pred_proba[:, 1], "[YDF & MIPT] Coursera_A CHA_CHA_CHA.csv" ) ########''' ВАШ КОД ЗДЕСЬ '''

### Добавим ещё признаки: время начала сессии, будни или выходной, день недели(в бинарном представлении), число уникальных сайтов

In [46]:
from datetime import datetime

In [50]:
dateFormatter = "%Y-%m-%d  %H:%M:%S"

In [75]:
start_hour = np.array(list(map(lambda x: datetime.strptime(x, dateFormatter).hour, train_test_df.time1.values)))

In [65]:
day_of_week = np.array(list(map(lambda x: datetime.strptime(x, dateFormatter).isoweekday(), train_test_df.time1.values)))

In [93]:
unique_sites = np.zeros(train_test_df.shape[0])
for i in range(len(unique_sites)):
    a = np.unique(train_test_df_sites.iloc[i,:10].values)
    if 0 in a:
        unique_sites[i] = len(a) - 1
    else:
        unique_sites[i] = len(a)

In [57]:
start_hour

array([10, 11, 16, ..., 11, 10, 10])

In [66]:
day_of_week

array([4, 6, 1, ..., 5, 6, 7])

In [95]:
unique_sites

array([ 1.,  7.,  4., ..., 10.,  7.,  2.])

In [288]:
train_test_df_sites['start_hour'] = start_hour

In [289]:
train_test_df_sites['day_of_week'] = day_of_week

In [290]:
train_test_df_sites['unique_sites'] = unique_sites

In [204]:
train_test_df_sites.drop(['start_hour'], axis='columns', inplace=True)

In [247]:
def time_day(x):
    if (x>=0 and x<6):
        return 0
    elif (6>=0 and x<12):
        return 1
    elif (12>=0 and x<18):
        return 2
    else:
        return 3

In [248]:
time_days = list(map(time_day,start_hour))

In [291]:
train_test_df_sites['time_days'] = time_days

In [270]:
train_test_df_sites

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,weekends,time_days,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,day_of_week_7,unique_sites
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,0,0,0,0,0,0,0,0,0,...,0.0,1,0,0,0,1,0,0,0,1.0
2,890,941,3847,941,942,3846,3847,3846,1516,1518,...,1.0,1,0,0,0,0,0,1,0,7.0
3,14769,39,14768,14769,37,39,14768,14768,14768,14768,...,0.0,2,1,0,0,0,0,0,0,4.0
4,782,782,782,782,782,782,782,782,782,782,...,0.0,1,0,0,0,0,1,0,0,1.0
5,22,177,175,178,177,178,175,177,177,178,...,0.0,1,0,0,0,0,1,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82793,812,1039,676,0,0,0,0,0,0,0,...,0.0,3,0,0,0,1,0,0,0,3.0
82794,300,302,302,300,300,1222,302,1218,1221,1216,...,0.0,2,1,0,0,0,0,0,0,6.0
82795,29,33,35,22,37,6779,30,21,23,6780,...,0.0,1,0,0,0,0,1,0,0,10.0
82796,5828,23,21,804,21,3350,23,894,21,961,...,1.0,1,0,0,0,0,0,1,0,7.0
82797,21,1098,1098,1098,1098,1098,1098,1098,1098,1098,...,1.0,1,0,0,0,0,0,0,1,2.0

In [292]:
train_test_df_sites = pd.get_dummies(train_test_df_sites, columns=['day_of_week'])

In [278]:
def weekend(a):
    b=np.zeros(len(a))
    for i in range(len(a)):
        if (a[i]==6 or a[i]==7):
            b[i]=1
            
    return(b)

In [279]:
weekends = weekend(day_of_week)

In [293]:
train_test_df_sites['weekends'] = weekends

In [281]:
train_test_df_sites

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,start_hour_15,start_hour_16,start_hour_17,start_hour_18,start_hour_19,start_hour_20,start_hour_21,start_hour_22,start_hour_23,weekends
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,890,941,3847,941,942,3846,3847,3846,1516,1518,...,0,0,0,0,0,0,0,0,0,1.0
3,14769,39,14768,14769,37,39,14768,14768,14768,14768,...,0,1,0,0,0,0,0,0,0,0.0
4,782,782,782,782,782,782,782,782,782,782,...,0,0,0,0,0,0,0,0,0,0.0
5,22,177,175,178,177,178,175,177,177,178,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82793,812,1039,676,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0.0
82794,300,302,302,300,300,1222,302,1218,1221,1216,...,0,0,0,0,0,0,0,0,0,0.0
82795,29,33,35,22,37,6779,30,21,23,6780,...,0,0,0,0,0,0,0,0,0,0.0
82796,5828,23,21,804,21,3350,23,894,21,961,...,0,0,0,0,0,0,0,0,0,1.0
82797,21,1098,1098,1098,1098,1098,1098,1098,1098,1098,...,0,0,0,0,0,0,0,0,0,1.0

In [294]:
train_test_sparse = mechok(train_test_df_sites.values)   ####''' ВАШ КОД ЗДЕСЬ '''
X_train_sparse = train_test_sparse[:train_df.shape[0],:]      ####''' ВАШ КОД ЗДЕСЬ '''
X_test_sparse =  train_test_sparse[train_df.shape[0]: ,:]      ####''' ВАШ КОД ЗДЕСЬ '''
y = train_df.target.values

In [295]:
train_share = int(.7 * X_train_sparse.shape[0])
X_train, y_train = X_train_sparse[:train_share, :], y[:train_share]
X_valid, y_valid  = X_train_sparse[train_share:, :], y[train_share:]

In [296]:
sgd_logit = SGDClassifier(loss='log', n_jobs=-1, random_state=17)                       ###''' ВАШ КОД ЗДЕСЬ '''
sgd_logit.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
              n_iter_no_change=5, n_jobs=-1, penalty='l2', power_t=0.5,
              random_state=17, shuffle=True, tol=0.001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [297]:
logit_valid_pred_proba = sgd_logit.predict_proba(X_valid)

In [298]:
round(roc_auc_score(y_valid, logit_valid_pred_proba[:, 1]), 3)

0.964

In [299]:
%%time
sgd_logit.fit(X_train_sparse, y)                                                   #### ''' ВАШ КОД ЗДЕСЬ '''
logit_test_pred_proba = sgd_logit.predict_proba(X_test_sparse)

Wall time: 3 s

In [300]:
write_to_submission_file(logit_test_pred_proba[:, 1], "[YDF & MIPT] Coursera_A CHA_CHA_CHA_6.csv" ) ########''' ВАШ КОД ЗДЕСЬ '''

### Название команды  - [YDF & MIPT] Coursera_A CHA_CHA_CHA

### Cайт - https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2/leaderboard

### Результат  -  0.93339

<center>
<img src="kaggle_5_week.png"/>
<center>

## Критерии оценки работы (только для Peer Review в специализации):
- Правильные ли получились размерности матриц в п. 1? (max. 2 балла)
- Правильным ли получилось значения ROC AUC в п. 2? (max. 4 балла)
- Побит ли бенчмарк "sgd_logit_benchmark.csv" на публичной части рейтинга в соревновании Kaggle? (max. 2 балла)
- Побит ли бенчмарк "Logit +3 features" на публичной части рейтинга в соревновании Kaggle? (max. 2 балла)

## Пути улучшения
На этой неделе дается много времени на соревнование. Не забывайте вносить хорошие идеи, к которым Вы пришли по ходу соревнования, в описание финального проекта (`html`, `pdf` или `ipynb`). Это только в случае, если вы проходите специализацию.
Что можно попробовать:
 - Использовать ранее построенные признаки для улучшения модели (проверить их можно на меньшей выборке по 150 пользователям, отделив одного из пользователей от остальных – это быстрее)
 - Настроить параметры моделей (например, коэффициенты регуляризации)
 - Если позволяют мощности (или хватает терпения), можно попробовать смешивание (блендинг) ответов бустинга и линейной модели. [Вот](http://mlwave.com/kaggle-ensembling-guide/) один из самых известных тьюториалов по смешиванию ответов алгоритмов, также хороша [статья](https://alexanderdyakonov.wordpress.com/2017/03/10/cтекинг-stacking-и-блендинг-blending) Александра Дьяконова
 - Обратите внимание, что в соревновании также даны исходные данные о посещенных веб-страницах Элис и остальными 1557 пользователями (*train.zip*). По этим данным можно сформировать свою обучающую выборку. 

На 6 неделе мы пройдем большой тьюториал по Vowpal Wabbit и попробуем его в деле, на данных соревнования.